#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.intro {
  background-color: #e0e0e0;
  color: black;
  margin-top: 90px;
  width: 100vw;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  width: 65%;
  color: rgb(2, 37, 37);
  font-weight: 700;
  line-height: 1.2;
  font-size: 81px;
}
.sub-heading {
  margin: 15px;
  width: 65%;
  color: rgb(132, 132, 155);
  font-size: 22px;
  font-weight: 600;
}
.btn {
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  color: rgb(37, 45, 59);
  font-size: 18px;
  padding: 19px;
}
.schedule {
  background-color: #43b8a8;
  color: white;
  font-size: 15px;
}
.schedule:hover {
  background-color: #031f3f;
  border-color: #43b8a8;
}
